go 1.26.2

use (
	./aws
	./cache
	./core
	./examples/features
	./examples/http-postgres
	./examples/minimal
	./examples/modules
	./examples/sqlite
	./gormx
	./gormx/migrate
	./gormx/postgres
	./gormx/sqlite
	./host
	./httpx
	./jsonx
	./messaging
	./messaging/nats
	./otelx
	./tenant
	./types
	./utils
	./versioninfo
)
