go 1.26.2

use (
	./aws
	./cache
	./core
	./examples/features
	./examples/http-postgres
	./examples/minimal
	./examples/sqlite
	./gormx
	./host
	./httpx
	./messaging
	./tenant
	./types
	./utils
	./versioninfo
)
